header {
    background-color: black;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    height: 3rem;
    font-size: 20px;
}
body{
    margin: 0;
}

html{
    background-image: url("/src/images/bg.jpg"); 
}

a {
    text-decoration: none;
    color: white;
}

#top p:hover {
    color: red;
}


#top {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    padding-right: 1rem;
    align-items: center;
}

#top p {
    color: white;
    font-weight: bold;
    margin: 0;
    background-color: black;
}

header img{
    width: 100%;
    max-width: 20rem;
    height: auto;
    padding-left: 2rem;
}
#top img{
    height: auto;
    width: 100%;
    max-width: 3rem;
}

@media (max-width: 980px) {
    #top p {
        display: none;
    }

    #profilepicture {
        display: none;
    }

    #menu {
        display: block;
    }

    #gameshop-title{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #gameshop-title h2{
        width: 90%;
    }

    #gameshop-title a{
        padding-left: 1.5rem;
    }
}

@media (min-width: 980px) {
    #menu {
        display: none;
    }
}

nav {
    background-color: black;
    color: white;
    width: 10rem;
    height: auto;
    display: flex;
    float: right;
    flex-direction: column;
    display: none;
}

nav a {
    padding: 1rem;
    font-weight: bold;
    font-size: 20px;
    display: grid;
}

#list.show{
    display: block; 
    background-color: black;
    color: white;
    width: 10rem;
    height: auto;
    display: flex;
    float: right;
    flex-direction: column;
    position: fixed;
    z-index: 999;
    right: 0px;
    top: 45px;
}

#shop-section {
    display: flex;
    background-color: #282827;
    margin: 1rem 2rem;
    padding: 3rem;
    border: 1px solid black;
    justify-content: space-between;
    overflow: scroll;
    color: white;
}

#shop-section img{
    max-height: 196.88px;
    width: auto; 
}

#gameshop-title{
    display: flex;
}

#gameshop-title h2 {
    padding: .5rem .5rem .5rem 2rem;
    margin: 0;
    font-size: 25px;
}

#gameshop-title p {
    margin: .4rem;
    padding: 0;
    font-size: 25px;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 5%;
    background-color: black;
    color: white;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
    padding: 0;
}


.games-info *{
    display: flex;
    flex-direction: column;
    padding: .25rem;
    margin: 0;
}

.games-info{
    margin: 1rem;
}

.games-info a {
    font-size: 30px;
    font-weight: bold;
    border: 1px solid black;
    border-radius: .5rem;
    background-color: black;
    color: white;
    padding: 0 2rem;
}

.games-info h3 {
    font-size: 20px;
}

#mygames{
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: .5rem 2rem;
    margin: 1rem 2rem;
    gap: 2rem;
}

#mygames-title{
    padding: 1rem 4rem;
    width: 70%;
    margin: 1rem 0;
}

.games-info p{
    font-weight: bold;
}

#favorites{
    display: flex;
    width: 40%;
    max-width: 25%;
    flex-direction: column;
    border-left: 1px solid black;
    margin: 0rem 1rem 0 8.5rem;
    padding: 0 2rem;
    gap: 2rem;
}

#favorites h2{
    padding: 1rem 0 0 0;
    margin: 1rem 0 .55rem 0;
}

#games{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

#games .btn{
    padding: 1rem;
    max-width: 120px;
    width: 100%;
}

#games-showcase{
    width: 55%;
}

.gameImg{
    width:100%;
    max-width: 350px;
    height: auto;
    max-height: 196.88px;
}

.gamecard{
    margin-left: 2rem;
}

#favorites{
    float: right;
}

#favorites-dash{
    float: right;
    margin: 2rem;
    max-width: 55%;
    border: 5px solid black;
    padding: 2rem;
    background-color: #282827;
    color: white;
}

#favorites-games{
    float:right;
}

#mygames-desk{
    margin: 2rem;
    max-width: 55%;
    border: 5px solid black;
    padding: 2rem;
    background-color: #282827;
    color: white;
}

#mygamecard{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3rem;
}

.btn{
    border: 1px solid black;
    background-color: black;
    color: white;
    font-weight: bold;
    padding: .1rem;
    border-radius: .5rem;
    max-width: 60px;
}

footer{
    background-color: #5C5A58;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer a{
    padding: 1rem;
}

.my-games{
    margin: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    background-color: #282827;
    padding: 2rem;
    border: 2px solid black;
    border-radius: 3%;
}

.con{
    width: 20%;
    min-width: 230px;
    color: white;
}

.con img{
    max-height: 171px;
    width: 100%; 
}

#gameshop-page{
    margin: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    background-color: #282827;
    padding: 2rem;
    border: 2px solid black;
    border-radius: 3%;
    overflow: hidden;
}

h1{
    padding-left: 2rem;
    font-size: 40px;
}

.store-btn{
    border: 1px solid black;
    background-color: black;
    color: white;
    font-weight: bold;
    padding: .2rem;
    border-radius: .5rem;
    font-size: large;
}

#game-page {
    font-size: 20px;
    color: white;
    background-color: #282827;
    padding: 2rem 5rem;
}

#game-page h1{
    margin: 0;
    padding-bottom: 1rem;
    padding-left: 0;
}

#game-page p{
    margin-bottom: 0;
}

#game-page img{
    height: 500px;
}

#gamepage-info{
    display: flex;
}

#aside-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
}

#aside-info .info {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 1rem;
}


.info-value{
    float: right;
    margin: 0;
}

#star{
    max-height: 30px;
    height:100%;
    width: auto;
}

#rating{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
}

#tags{
    margin-top: 5rem;
}

#rating span{
    font-size: 30px;
    display: flex;
    align-items: center;
}


